// .npmignore

# Source files
src/
public/
build/

# Config files
tsconfig.json
tsconfig.node.json
tsup.config.ts
.gitignore
.swcrc

# Development files
*.test.*
*.spec.*
*.stories.*
.DS_Store

# Folders
node_modules/
.husky/
.git/
.github/

# Local application files
index.tsx
App.tsx

# Development scripts
package-lock.json
yarn.lock
pnpm-lock.yaml